<header class="header">

    <a href="#" class="logo"><span>e</span>vento</a>

    <div id="menu-bars" class="fas fa-bars"></div>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <h3>For<span> Birthdays </span></h3>
    </div>

    <div class="swiper-container home-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="assets/1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="assets/2.jpg" alt=""></div>
            <div class="swiper-slide"><img src="assets/3.jpg" alt=""></div>
            <div class="swiper-slide"><img src="assets/4.jpg" alt=""></div>
            <div class="swiper-slide"><img src="assets/5.jpg" alt=""></div>
        </div>
    </div>

</section>

<!-- home section ends -->

<!-- service section starts  -->

<section class="service" id="service">

    <h1 class="heading"> our <span>services</span> </h1>

    <div class="box-container">

        <div class="box">
            
            <h3>Full Services</h3>
            <p>Our company has gained expertise in offering Birthday Party Management Service.
               Empowered with the aid of our expert professionals, we are the leading party service provider.
               Our provided service is widely acknowledged by our clients for its timely execution.</p>
        </div>

        <div class="box">
            <h3>Decarations</h3>
            <p>our company provide attractive and high quality decortions.Other than setting the mood, creating the ambiance and theme as well as the ultimate experience of our event.
                We can custamize the decaration based on your needs ,
            you say we'll have it done for you. </p>
        </div>

        <div class="box">
            <h3>Music and pics</h3>
            <p>Provide high quality music and pictures.We capture your precious moments through our expert photographers.
                We set the place on good ambiance as music creates a social cohesion.
            </p>
        </div>

        <div class="box">
            <h3>food and drinks</h3>
            <p>taste of food could change anyone's prioity and hence in a way of proving 
                we provide high quality and delicious food with our experts out there.</p>
        </div>

        <div class="box">
            <h3>Invitation Card</h3>
            <p>We get our guests excited for our event with a beautiful invitation card,
                also based on you custamizable ideas and your wish.</p>
        </div>

        

    </div>

</section>

<!-- service section ends -->

<!-- about section starts  -->




<!-- about section ends -->

<!-- gallery section starts  -->


<!-- gallery section ends -->

<!-- price section starts  -->

<section class="price" id="price">

    <h1 class="heading"> our <span>price</span> </h1>

    <div class="box-container">

        <div class="box">
            <h3 class="title">Silver</h3>
            <h3 class="amount">$29000</h3>
            <ul>
                <li><i class="fas fa-check"></i>full services</li>
                <li> <i class="fas fa-check"></i> decorations </li>
                <li> <i class="fas fa-check"></i> music</li>
                <li> <i class="fas fa-check"></i> invitation card </li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>

        <div class="box">
            <h3 class="title">Gold</h3>
            <h3 class="amount">$33000</h3>
            <ul>
                <li><i class="fas fa-check"></i>full services</li>
                <li> <i class="fas fa-check"></i> decorations </li>
                <li> <i class="fas fa-check"></i> music and photos </li>
                <li> <i class="fas fa-check"></i> food and drinks </li>
                <li> <i class="fas fa-check"></i> invitation card </li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>

        <div class="box">
            <h3 class="title">Diamond</h3>
            <h3 class="amount">$45000</h3>
            <ul>
                <li><i class="fas fa-check"></i>full services</li>
                <li> <i class="fas fa-check"></i> decorations(Premium) </li>
                <li> <i class="fas fa-check"></i> music and photos </li>
                <li> <i class="fas fa-check"></i> food and drinks </li>
                <li> <i class="fas fa-check"></i> invitation card(Premium) </li>
            </ul>
            <a href="#" class="btn">check out</a>
        </div>


    </div>


</section>

<!-- price section ends -->

<!-- review section starts  -->



<!-- review section ends -->

<!-- contact section starts  -->


<!-- contact section ends -->

<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>branches</h3>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> mumbai </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> jogeshwari </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> goregaon </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> navi mumbai </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> andheri </a>
        </div>

      

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
            <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
            <a href="#"> <i class="fas fa-envelope"></i> shaikhanas@gmail.com </a>
            <a href="#"> <i class="fas fa-envelope"></i> anasshaikh@gmail.com </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> mumbai, india - 400104 </a>
        </div>


    </div>


</section>

<!-- footer section ends -->

<!-- theme toggler  -->

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="js/script.js"></script>